<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Arduino_Integrated_LMS.Properties.Settings.Arduino_ILMSConnectionString"
            connectionString="Data Source=LEGION\SQLEXPRESS;Initial Catalog=Arduino-ILMS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>